.custom-icon{
    font-size: 25px;
}

.custom-card{
    border-radius: 20px;
}

h4 {
    margin-top: 60px;
    margin-bottom: 30px;
}

.highlight-card {
    .card {
        border-radius: 15px;
    }
}