@import '../../styles/variables.scss';

.text-input-wrapper {
  .text-input {
    margin-right: 5px;
  }

  .text-input:focus {
    outline: none;
  }

  .icon-wrapper {
    background-color: #f6f6f8;
    border-radius: 50%;
    padding: 5px;
    min-width: 40px;
    min-height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
    border: none;

    .icon {
      max-width: 18px;
      max-height: 18px;
    }
  }

  .icon-wrapper:hover {
    background-color: #A9A9A9	
  }
}

.text-input {
  border: 0px;
}

.temperature-text {
  font-size: 80px;
}

.weather-icon {
  color: $purple;
}

.icon-large {
  font-size: 150px !important;
}

.icon-small {
  font-size: 25px !important;
}

.spacing {
  margin-bottom: 80px;
}

.spacing-small {
  margin-bottom: 30px;
}

.large-text {
  font-size: 80px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.col-wrapper {
  padding-left: 50px;
  padding-right: 50px;
}
