.body {
  height: 100vh;
}

.left-section {
  @media screen and (min-width: 1024px) {
    width: 400px;
  }
}

.right-section {
  background-color: #f6f6f8;
  @media screen and (min-width: 1024px) {
    width: calc(100% - 400px);
  }
}
